<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.material.managementservice.mapper.info.InfoModifyMapper">
    <select id="countBaseBySpuCode"
            parameterType="java.lang.String"
            resultType="int">
        SELECT COUNT (spuCode) FROM materialBase where spuCode = #{spuCode}
    </select>

    <delete id="deleteAllMaterialBySpuCode"
            parameterType="java.lang.String">
        delete * from material where spuCode = #{spuCode}
    </delete>

    <select id="countMaterialBasePropValByParams"
            resultType="int">
        SELECT COUNT (*) FROM materialBasePropVal
        WHERE materialBasePropId = #{materialBasePropId} and spuCode = #{spuCode} and materialCode = #{materialCode}
    </select>

    <insert id="insertMaterialBasePropValByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBasePropValModel"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into materialBasePropVal(spuCode, materialCode, materialBasePropId, value)
        values (#{spuCode}, #{materialCode}, #{materialBasePropId}, #{value})
    </insert>

    <update id="updateMaterialBasePropValByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBasePropValModel">
        update materialBasePropVal
        set value = #{value}
        where spuCode = #{spuCode} and materialCode = #{materialCode} and materialBasePropId = #{materialBasePropId}
    </update>

    <insert id="insertMaterialSkuByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialSkuModel"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into materialSku(spuCode, skuCode, skuName, materialCode, barCode, unitId, purchasePrice, sellingPrice, description)
        values (#{spuCode},
                #{skuCode},
                #{skuName},
                #{materialCode},
                #{barCode},
                #{unitId},
                #{purchasePrice},
                #{sellingPrice},
                #{description})
    </insert>

    <delete id="deleteMaterialSkuByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialSkuModel">
        delete from materialSku
        <where>
            <if test="spuCode != null">
                and where spuCode = #{spuCode}
            </if>
            <if test="skuCode != null">
                and where skuCode = #{skuCode}
            </if>
            <if test="skuName != null">
                and where skuName = #{skuName}
            </if>
            <if test="materialCode != null">
                and where materialCode = #{materialCode}
            </if>
            <if test="barCode != null">
                and where barCode = #{barCode}
            </if>
            <if test="unitId &gt;= 0">
                and where unitId = #{unitId}
            </if>
            <if test="purchasePrice &gt;= 0">
                and where purchasePrice = #{purchasePrice}
            </if>
            <if test="sellingPrice &gt;= 0">
                and where sellingPrice = #{sellingPrice}
            </if>
            <if test="description != null">
                and where description = #{description}
            </if>
        </where>
    </delete>

    <!--带时间戳的获取物料控制属性值版本的信息-->
    <select id="getCtrlPropValVerWithCtrlPropValVerParams"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValVerModel">
        select * from materialCtrlPropValVer
        <where>
            <if test="spuCode != null">
                and where spuCode = #{spuCode}
            </if>
            <if test="materialCatId &gt;= 0">
                and where materialCatId = #{materialCatId}
            </if>
            <if test="organizationCode != null">
                and where organizationCode = #{organizationCode}
            </if>
            <if test="timestamp != null">
                and where startDate &lt;= #{timestamp} and endDate &gt;= #{timestamp}
            </if>
        </where>
    </select>

    <!--插入物料控制属性值版本的表的函数-->
    <insert id="insertCtrlPropValVerByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValVerModel"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into materialCtrlPropValVer(version, organizationCode, materialCatId, spuCode, startDate, endDate)
        values (#{version}, #{organizationCode}, #{materialCatId}, #{spuCode}, #{startDate}, #{endDate})
    </insert>

    <!--根据版本号id去物料控制属性值表中进行查询的函数-->
    <select id="getCtrlPropValWithVersionId"
            parameterType="int"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValModel">
        select * from materialCtrlPropVal where versionId = #{versionId}
    </select>

    <!--根据参数更新物料控制属性值表中的数据-->
    <update id="updateCtrlPropValByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValModel">
        update materialCtrlPropVal set value = #{value} where versionId = #{versionId} and materialCtrlPropId = #{materialCtrlPropId}
    </update>

    <!--根据参数更新物料计量单位表中的数据-->
    <update id="updateUnitByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialUnitModel">
        update materialUnit set conversionFactor = #{conversionFactor}, sort = #{sort}, relatedId = #{relatedId}
        where spuCode = #{spuCode} and unitId = #{unitId}
    </update>

    <!--根据参数向物料计量单位表中新增数据-->
    <insert id="insertUnitByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialUnitModel"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into materialUnit(spuCode, unitId, relatedId, conversionFactor, sort)
        values (#{spuCode}, #{unitId}, #{relatedId}, #{conversionFactor}, #{sort})
    </insert>

    <!--根据id从物料基本属性版本值表中删除对应记录-->
    <delete id="deleteAllMaterialBasePropValWithMaterialBasePropId"
            parameterType="int">
        delete from materialBasePropVal where materialBasePropId = #{id}
    </delete>

    <!--根据id从物料基本属性表中删除对应记录-->
    <delete id="deleteAllMaterialBasePropWithCatId"
            parameterType="int">
        delete from materialBaseProp where materialCatId = #{catId}
    </delete>

    <!--materialBaseProp表的动态列名-->
    <sql id="MaterialBasePropKey">
        <trim suffixOverrides=",">
            <if test="id &gt;= 0">
                id,
            </if>
            <if test="materialCatId &gt;= 0">
                materialCatId,
            </if>
            <if test="type &gt;= 0">
                type,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="name != null">
                <![CDATA[name]]>,
            </if>
            <if test="valueRange != null">
                valueRange,
            </if>
            <if test="sort &gt;= 0">
                sort,
            </if>
        </trim>
    </sql>
    <!--materialBaseProp表的动态列名，用于values中-->
    <sql id="MaterialBasePropValue">
        <trim suffixOverrides=",">
            <if test="id &gt;= 0">
                #{id},
            </if>
            <if test="materialCatId &gt;= 0">
                #{materialCatId},
            </if>
            <if test="type &gt;= 0">
                #{type},
            </if>
            <if test="label != null">
                #{label},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="valueRange != null">
                #{valueRange},
            </if>
            <if test="sort &gt;= 0">
                #{sort},
            </if>
        </trim>
    </sql>
    <!--向物料基本属性表中插入数据-->
    <insert id="insertMaterialBasePropWithMaterialBasePropParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBasePropModel"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into materialBaseProp(<include refid="MaterialBasePropKey"/>)
        values (<include refid="MaterialBasePropValue"/>)
    </insert>

    <!--向物料控制属性值表中插入数据-->
    <update id="updateCtrlPropWithCtrlPropParams">
        update materialCtrlPropVal set value = #{value} where versionId = #{versionId} and materialCtrlPropId = #{materialCtrlPropId}
    </update>
</mapper>
