<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.material.managementservice.mapper.info.InfoObtainMapper">
    <select id="getAllBaseInfo"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBaseModel">
        select * from materialBase
    </select>

    <select id="getBaseInfoWithSpuCode"
            parameterType="java.lang.String"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBaseModel">
        select * from materialBase where spuCode = #{spuCode}
    </select>

    <select id="getBaseInfoWithDateRange"
            parameterType="java.util.Date"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBaseModel">
        select * from materialBase
        <where>
            <if test="startDate != null">
                and createDate &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and createDate &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="getMaterialWithSpuCode"
            parameterType="java.lang.String"
            resultType="org.material.managementfacade.model.tablemodel.MaterialModel">
        select * from material where spuCode = #{spuCode}
    </select>

    <select id="getMaterialSkuWithSpuCode"
            parameterType="java.lang.String"
            resultType="org.material.managementfacade.model.tablemodel.MaterialSkuModel">
        select * from materialSku where spuCode = #{spuCode}
    </select>

    <select id="getMaterialUnitWithSpuCode"
            parameterType="java.lang.String"
            resultType="org.material.managementfacade.model.tablemodel.MaterialUnitModel">
        select * from materialUnit where spuCode = #{spuCode}
    </select>

    <!--根据id从materialBaseProp表中提取数据-->
    <select id="getMaterialBasePropWithId"
            parameterType="int"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBasePropModel">
        select * from materialBaseProp where id = #{id}
    </select>

    <!--根据spu编码和物料编码从materialBasePropVal表中获取数据-->
    <select id="getMaterialBasePropValWithSpuCodeAndMatCode"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBasePropValModel">
        select * from materialBasePropVal
        where spuCode = #{spuCode} and materialCode = #{materialCode}
    </select>

    <!--根据物料名称和物料分类id从物料基本属性表中获取数据-->
    <select id="getMaterialBasePropWithNameAndMatCatId"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBasePropModel">
        select * from materialBaseProp
        where <![CDATA[name]]> = #{name} and materialCatId = #{materialCatId}
    </select>

    <!--根据spu编码、物料编码和基本属性id从物料基本属性值表中获取数据-->
    <select id="getMaterialBasePropValWithSpuAndCatCodeAndPropId"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBasePropValModel">
        select * from materialBasePropVal
        where spuCode = #{spuCode} and materialCode = #{materialCode} and materialBasePropId = #{materialBasePropId}
    </select>

    <select id="getMaterialCtrlPropValVerByCatId"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValVerModel">
        select * from materialCtrlPropValVer
        where materialCatId = #{materialCatId}
    </select>

</mapper>
