<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.material.managementservice.mapper.general.GeneralMapper">
    <!--根据MaterialBase表（物料基本信息表）的参数获取MaterialBase表的数据-->
    <select id="getMaterialBaseWithMaterialBaseParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBaseModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBaseModel">
        select * from materialBase
        <where>
            <if test="id &gt;= 0">
                and id = #{id}
            </if>
            <if test="spuCode != null">
                and spuCode = #{spuCode}
            </if>
            <if test="mnemonic != null">
                and mnemonic = #{mnemonic}
            </if>
            <if test="spuName != null">
                and spuName = #{spuName}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="type &gt;= 0">
                and type = #{type}
            </if>
            <if test="designCode != null">
                and designCode = #{designCode}
            </if>
            <if test="designVersion != null">
                and designVersion = #{designVersion}
            </if>
            <if test="defaultUnitId &gt;= 0">
                and defaultUnitId = #{defaultUnitId}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
            <if test="usage != null">
                and usage = #{usage}
            </if>
            <if test="note != null">
                and note = #{note}
            </if>
            <if test="materialCatId &gt;= 0">
                and materialCatId = #{materialCatId}
            </if>
            <if test="keyPropId &gt;= 0">
                and keyPropId = #{keyPropId}
            </if>
            <if test="createDate != null">
                and createDate = #{createDate}
            </if>
        </where>
    </select>

    <!--根据Material表（物料信息表）的参数获取Material表的数据-->
    <select id="getMaterialWithMaterialParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialModel">
        select * from material
        <where>
            <if test="id &gt;= 0">
                and id = #{id}
            </if>
            <if test="spuCode != null">
                and spuCode = #{spuCode}
            </if>
            <if test="materialCode != null">
                and materialCode = #{materialCode}
            </if>
            <if test="materialName != null">
                and materialName = #{materialName}
            </if>
            <if test="oldMaterialCode != null">
                and oldMaterialCode = #{oldMaterialCode}
            </if>
            <if test="barCode != null">
                and barCode = #{barCode}
            </if>
            <if test="materialBaseId &gt;= 0">
                and materialBaseId = #{materialBaseId}
            </if>
        </where>
    </select>

    <!--根据MaterialSku表（物料sku信息表）的参数获取MaterialSku表的数据-->
    <select id="getMaterialSkuWithMaterialSkuParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialSkuModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialSkuModel">
        select * from materialSku
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="spuCode != null">
                spuCode = #{spuCode}
            </if>
            <if test="skuCode != null">
                skuCode = #{skuCode}
            </if>
            <if test="skuName != null">
                skuName = #{skuName}
            </if>
            <if test="materialCode != null">
                materialCode = #{materialCode}
            </if>
            <if test="barCode != null">
                barCode = #{barCode}
            </if>
            <if test="unitId &gt;= 0">
                unitId = #{unitId}
            </if>
            <if test="purchasePrice &gt;= 0">
                purchasePrice = #{purchasePrice}
            </if>
            <if test="sellingPrice &gt;= 0">
                sellingPrice = #{sellingPrice}
            </if>
            <if test="description != null">
                description = #{description}
            </if>
        </where>
    </select>

    <!--根据MaterialCategory表（物料分类表）的参数获取MaterialCategory表的数据-->
    <select id="getMaterialCategoryWithMaterialCategoryParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCategoryModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCategoryModel">
        select * from materialCategory
        <where>
          <if test="id &gt;= 0">
              id = #{id}
          </if>
          <if test="code != null">
              code = #{code}
          </if>
          <if test="name != null">
              name = #{name}
          </if>
          <if test="type &gt;= 0">
              type = #{type}
          </if>
          <if test="parentId &gt;= 0">
              parentId = #{parentId}
          </if>
        </where>
    </select>

    <!--根据Unit表（计量单位表）的参数获取Unit表的数据-->
    <select id="getUnitWithUnitParams"
            parameterType="org.material.managementfacade.model.tablemodel.UnitModel"
            resultType="org.material.managementfacade.model.tablemodel.UnitModel">
        select * from unit
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="label != null">
                label = #{label}
            </if>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="englishName != null">
                englishName = #{englishName}
            </if>
            <if test="relatedId &gt;= 0">
                relatedId = #{relatedId}
            </if>
            <if test="conversionFactor &gt;= 0">
                conversionFactor = #{conversionFactor}
            </if>
            <if test="sort &gt;= 0">
                sort = #{sort}
            </if>
        </where>
    </select>

    <!--根据MaterialUnit表（物料计量单位表）的参数获取MaterialUnit表的数据-->
    <select id="getMaterialUnitWithMaterialUnitParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialUnitModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialUnitModel">
        select * from materialUnit
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="spuCode != null">
                spuCode = #{spuCode}
            </if>
            <if test="unitId &gt;= 0">
                unitId = #{unitId}
            </if>
            <if test="relatedId &gt;= 0">
                relatedId = #{relatedId}
            </if>
            <if test="conversionFactor &gt;= 0">
                conversionFactor = #{conversionFactor}
            </if>
            <if test="sort &gt;= 0">
                sort = #{sort}
            </if>
        </where>
    </select>

    <!--根据MaterialBaseProp表（物料基本属性表）的参数获取MaterialBaseProp表的数据-->
    <select id="getMaterialBasePropWithMaterialBasePropParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBasePropModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBasePropModel">
        select * from materialBaseProp
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="materialCatId &gt;= 0">
                materialCatId = #{materialCatId}
            </if>
            <if test="type &gt;= 0">
                type = #{type}
            </if>
            <if test="label != null">
                label = #{label}
            </if>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="valueRange != null">
                valueRange = #{valueRange}
            </if>
            <if test="sort &gt;= 0">
                sort = #{sort}
            </if>
        </where>
    </select>

    <!--根据MaterialBasePropVal表（物料基本属性值表）的参数获取MaterialBasePropVal表的数据-->
    <select id="getMaterialBasePropValWithMaterialBasePropValParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBasePropValModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialBasePropValModel">
        select * from materialBasePropVal
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="spuCode != null">
                spuCode = #{spuCode}
            </if>
            <if test="materialCode != null">
                materialCode = #{materialCode}
            </if>
            <if test="materialBasePropId &gt;= 0">
                materialBasePropId = #{materialBasePropId}
            </if>
            <if test="value != null">
                value = #{value}
            </if>
        </where>
    </select>

    <!--根据MaterialCtrlProp表（物料控制属性表）的参数获取MaterialCtrlProp表的数据-->
    <select id="getCtrlPropWithCtrlPropParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropModel">
        select * from materialCtrlProp
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="type &gt;= 0">
                type = #{type}
            </if>
            <if test="label &gt;= 0">
                label = #{label}
            </if>
            <if test="name != null">
                name = #{name}
            </if>
        </where>
    </select>

    <!--根据MaterialCtrlPropVal表（物料控制属性值表）的参数获取MaterialCtrlPropVal表的数据-->
    <select id="getCtrlPropValWithCtrlPropValParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValModel">
        select * from materialCtrlPropVal
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="versionId &gt;= 0">
                versionId = #{versionId}
            </if>
            <if test="materialCtrlPropId &gt;= 0">
                materialCtrlPropId = #{materialCtrlPropId}
            </if>
            <if test="value != null">
                value = #{value}
            </if>
        </where>
    </select>

    <!--根据MaterialCtrlPropValVer表（物料控制属性值表）的参数获取MaterialCtrlPropValVer表的数据-->
    <select id="getCtrlPropValVerWithCtrlPropValVerParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValVerModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCtrlPropValVerModel">
        select * from materialCtrlPropValVer
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="materialCatId &gt;= 0">
                materialCatId = #{materialCatId}
            </if>
            <if test="version != null">
                version = #{version}
            </if>
            <if test="organizationCode != null">
                organizationCode = #{organizationCode}
            </if>
            <if test="spuCode != null">
                spuCode = #{spuCode}
            </if>
            <if test="startDate != null">
                startDate = #{startDate}
            </if>
            <if test="endDate != null">
                endDate = #{endDate}
            </if>
        </where>
    </select>

    <!--MaterialBase表的动态列名-->
    <sql id="MaterialBaseKey">
        <trim suffixOverrides=",">
            <if test="id &gt;= 0">
                id,
            </if>
            <if test="spuCode != null">
                spuCode,
            </if>
            <if test="mnemonic != null">
                mnemonic,
            </if>
            <if test="spuName != null">
                spuName,
            </if>
            <if test="description != null">
                <![CDATA[description]]>,
            </if>
            <if test="type &gt;= 0">
                type,
            </if>
            <if test="designCode != null">
                designCode,
            </if>
            <if test="designVersion != null">
                designVersion,
            </if>
            <if test="defaultUnitId &gt;= 0">
                defaultUnitId,
            </if>
            <if test="source != null">
                <![CDATA[source]]>,
            </if>
            <if test="usage != null">
                <![CDATA[usage]]>,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="materialCatId &gt;= 0">
                materialCatId,
            </if>
            <if test="keyPropId &gt;= 0">
                keyPropId,
            </if>
            <if test="createDate != null">
                createDate,
            </if>
        </trim>
    </sql>
    <!--MaterialBase表的动态列名，用于values中-->
    <sql id="MaterialBaseValue">
        <trim suffixOverrides=",">
            <if test="id &gt;= 0">
                #{id},
            </if>
            <if test="spuCode != null">
                #{spuCode},
            </if>
            <if test="mnemonic != null">
                #{mnemonic},
            </if>
            <if test="spuName != null">
                #{spuName},
            </if>
            <if test="description != null">
                #{<![CDATA[description]]>},
            </if>
            <if test="type &gt;= 0">
                #{type},
            </if>
            <if test="designCode != null">
                #{designCode},
            </if>
            <if test="designVersion != null">
                #{designVersion},
            </if>
            <if test="defaultUnitId &gt;= 0">
                #{defaultUnitId},
            </if>
            <if test="source != null">
                #{source},
            </if>
            <if test="usage != null">
                #{usage},
            </if>
            <if test="note != null">
                #{note},
            </if>
            <if test="materialCatId &gt;= 0">
                #{materialCatId},
            </if>
            <if test="keyPropId &gt;= 0">
                #{keyPropId},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
        </trim>
    </sql>

    <!--插入新数据至MaterialBase表-->
    <insert id="insertMaterialBaseWithMaterialBaseParams"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBaseModel">
        insert into materialBase(<include refid="MaterialBaseKey"/>)
        values (<include refid="MaterialBaseValue"/>)
    </insert>

    <!--更新新数据至MaterialBase表-->
    <!--禁止更新id和spuCode！-->
    <update id="updateMaterialBaseWithMaterialBaseParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialBaseModel">
        update materialBase
        <set>
            <if test="mnemonic != null">
                mnemonic = #{mnemonic},
            </if>
            <if test="spuName != null">
                spuName = #{spuName},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="type &gt;= 0">
                type = #{type},
            </if>
            <if test="designCode != null">
                designCode = #{designCode},
            </if>
            <if test="designVersion != null">
                designVersion = #{designVersion},
            </if>
            <if test="defaultUnitId &gt;= 0">
                defaultUnitId = #{defaultUnitId},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="usage != null">
                usage = #{usage},
            </if>
            <if test="note != null">
                note = #{note},
            </if>
            <if test="materialCatId &gt;= 0">
                materialCatId = #{materialCatId},
            </if>
            <if test="keyPropId &gt;= 0">
                keyPropId = #{keyPropId},
            </if>
            <if test="createDate != null">
                createDate = #{createDate},
            </if>
        </set>
        where spuCode = #{spuCode}
    </update>

    <!--Material表的动态列名-->
    <sql id="MaterialKey">
        <trim suffixOverrides=",">
            <if test="id &gt;= 0">
                id,
            </if>
            <if test="spuCode != null">
                spuCode,
            </if>
            <if test="materialCode != null">
                materialCode,
            </if>
            <if test="materialName != null">
                materialName,
            </if>
            <if test="oldMaterialCode != null">
                oldMaterialCode,
            </if>
            <if test="barCode != null">
                barCode,
            </if>
            <if test="materialBaseId &gt;= 0">
                materialBaseId,
            </if>
        </trim>
    </sql>
    <!--Material表的动态列名，用于values中-->
    <sql id="MaterialValue">
        <trim suffixOverrides=",">
            <if test="id &gt;= 0">
                #{id},
            </if>
            <if test="spuCode != null">
                #{spuCode},
            </if>
            <if test="materialCode != null">
                #{materialCode},
            </if>
            <if test="materialName != null">
                #{materialName},
            </if>
            <if test="oldMaterialCode != null">
                #{oldMaterialCode},
            </if>
            <if test="barCode != null">
                #{barCode},
            </if>
            <if test="materialBaseId &gt;= 0">
                #{materialBaseId},
            </if>
        </trim>
    </sql>
    <!--插入新数据至Material表-->
    <insert id="insertMaterialWithMaterialParams"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialModel">
        insert into material(<include refid="MaterialKey"/>)
        values (<include refid="MaterialValue"/>)
    </insert>

    <!--根据参数向物料计量单位表中删除数据-->
    <delete id="deleteUnitByParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialUnitModel">
        delete from materialUnit
        <where>
            <if test="id &gt;= 0">
                id = #{id}
            </if>
            <if test="spuCode != null">
                spuCode = #{spuCode}
            </if>
            <if test="unitId &gt;= 0">
                unitId = #{unitId}
            </if>
            <if test="relatedId &gt;= 0">
                relatedId = #{relatedId}
            </if>
            <if test="conversionFactor &gt;= 0">
                conversionFactor = #{conversionFactor}
            </if>
            <if test="sort &gt;= 0">
                sort = #{sort}
            </if>
        </where>
    </delete>
</mapper>
