<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.material.managementservice.mapper.general.MaterialGeneralMapper">
    <!--根据Material表（物料信息表）的参数获取Material表的数据-->
    <select id="getMaterialWithMaterialParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialModel">
        select * from material
        <where>
            <if test="id != null">
                where id = #{id}
            </if>
            <if test="spuCode != null">
                where spuCode = #{spuCode}
            </if>
            <if test="materialCode != null">
                where materialCode = #{materialCode}
            </if>
            <if test="materialName != null">
                where materialName = #{materialName}
            </if>
            <if test="oldMaterialCode != null">
                where oldMaterialCode = #{oldMaterialCode}
            </if>
            <if test="barCode != null">
                where barCode = #{barCode}
            </if>
            <if test="materialBaseId != null">
                where materialBaseId = #{materialBaseId}
            </if>
            <if test="purchasePrice != null">
                where purchasePrice = #{purchasePrice}
            </if>
            <if test="sellingPrice != null">
                where sellingPrice = #{sellingPrice}
            </if>
        </where>
    </select>

    <!--根据MaterialCategory表（物料分类表）的参数获取MaterialCategory表的数据-->
    <select id="getMaterialCategoryWithMaterialCategoryParams"
            parameterType="org.material.managementfacade.model.tablemodel.MaterialCategoryModel"
            resultType="org.material.managementfacade.model.tablemodel.MaterialCategoryModel">
        select * from materialCategory
        <where>
          <if test="id != null">
              where id = #{id}
          </if>
          <if test="code != null">
              where code = #{code}
          </if>
          <if test="name != null">
              where name = #{name}
          </if>
          <if test="type != null">
              where type = #{type}
          </if>
          <if test="parentId != null">
              where parentId = #{parentId}
          </if>
        </where>
    </select>

    <!--根据Unit表（计量单位表）的参数获取Unit表的数据-->
    <select id="getUnitWithUnitParams"
            parameterType="org.material.managementfacade.model.tablemodel.UnitModel"
            resultType="org.material.managementfacade.model.tablemodel.UnitModel">
        select * from unit
        <where>
            <if test="id != null">
                where id = #{id}
            </if>
            <if test="label != null">
                where label = #{label}
            </if>
            <if test="name != null">
                where name = #{name}
            </if>
            <if test="englishName != null">
                where englishName = #{englishName}
            </if>
            <if test="relatedId != null">
                where relatedId = #{relatedId}
            </if>
            <if test="conversionFactor != null">
                where conversionFactor = #{conversionFactor}
            </if>
            <if test="sort != null">
                where sort = #{sort}
            </if>
        </where>
    </select>
</mapper>
